html, body {
  background: #4b4b4b;
}

body > header, body > footer {
  height: 50px;
}

body > .main {
  background: #73b1c0;

  > .inner {
    margin-left: 152px;
    background: #fff;

    zoom:1;
    &:after{ content: ""; display: block; clear: both; }
  }

  .sidebar, .cotent {
    float: left;
  }

  .sidebar {
    margin-left: -152px;
    width: 152px;
  }

  .dummy {
    min-height: 400px;
  }
}